:root {
  --primeri-text-color: rgba(117, 117, 117, 1);
  --secondari-text-color: rgba(33, 33, 33, 1);
  --hover-color: rgba(33, 150, 243, 1);
  --hero-color: rgba(255, 255, 255, 1);
  --primeri-font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: var(--primeri-text-color);
  font-family: var(--primeri-font-family);
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* =====logo===== */

.text-logo {
  margin-right: 93px;

  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
}

.span-logo {
  color: rgba(33, 150, 243, 1);
}

/* =====sait-nav===== */

.sait-nav .item:not(:last-child),
.contacts-nav .item:not(:last-child) {
  margin-right: 50px;
}

.sait-nav a {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondari-text-color);
}

.sait-nav a:hover,
.sait-nav a:focus {
  color: var(--hover-color);
}

.sait-nav a.current {
  color: var(--hover-color);
}

/* =====contacts-nav===== */

.contacts-nav a {
  color: var(--primeri-text-color);
}

/* .contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
} */

.contacts-nav .link-mail:hover,
.contacts-nav .link-mail:focus,
.contacts-nav .link-tell:hover,
.contacts-nav .link-tell:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
}

.sait-nav,
.contacts-nav {
  display: flex;

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts-nav {
  margin-left: auto;
}

/* =====New code===== */

.contacts-nav a.link-mail,
.contacts-nav a.link-tell {
  display: flex;
  align-items: center;
}

.contacts-nav .item:not(:last-child) {
  margin-right: 30px;
}

.contacts-nav .icon-envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.contacts-nav .icon-smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}

/* =====Index.html styles===== */

/* =====Hero section===== */

.hero,
.footer {
  background-color: #2f303a;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: #c4c4c4;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg_hero.jpg);
}

.hero-title {
  margin-bottom: 30px;
  text-transform: uppercase;

  color: var(--hero-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

/* =====button===== */

.hero-button {
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
  font-family: inherit;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

/* =====section===== */

.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main .indent {
  padding-bottom: 0px;
}

.indent .title {
  display: flex;
}

.indent .section-title {
  margin: 0;
}

.title .item:not(:last-child) {
  margin-right: 30px;
}

.indent .item {
  width: 270px;
}

.title .paragraph {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.indent-with-img .photo {
  display: flex;
  justify-content: space-between;
}

.indent-with-img .no-gap {
  display: block;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;

  color: var(--secondari-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
}

.indent-with-img .padding-text {
  padding: 30px 32px;
}

.section .headline {
  color: var(--secondari-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.title .headline {
  text-transform: uppercase;
}

.headline {
  margin-bottom: 10px;
}

.shell .no-gap {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.shell .center {
  margin-bottom: 16px;
}

.bg-section {
  background-color: #f5f4fa;
}

/* =====New code===== */

.indent .box-icon {
  display: flex;
  justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.indent .icon {
  width: 70px;
  height: 70px;
  align-items: center;
}

/* ================== */

.shell {
  display: flex;
}

.shell .item {
  margin-right: 30px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.shell .item:not(:last-child) {
  margin-right: 30px;
}

/* =====New code===== */

.shell .social-networks {
  display: flex;
  justify-content: center;
}

.social-networks .networks-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.social-networks .networks-icon:not(:last-child) {
  margin-right: 10px;
}

.social-networks .networks-icon:hover,
.social-networks .networks-icon:focus {
  background-color: var(--hover-color);
  color: #fff;
  cursor: pointer;
}

.shell .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.shell .icon:hover {
  fill: currentColor;
}

/* ================== */

/* =====Regular customers=====*/

.customers .title {
  display: flex;
  justify-content: space-between;
}

.customers .networks-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4%;
  color: #afb1b8;
}

.customers .networks-icon:not(:last-child) {
  margin-right: 10px;
}

.customers .networks-icon:hover,
.customers .networks-icon:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
  cursor: pointer;
}

.customers .icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.shell .icon:hover {
  fill: currentColor;
}

/* =====footer===== */

.footer-logo {
  color: #ffffff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container a {
  display: block;
}

.container .footer-logo {
  margin-bottom: 20px;
}

/* =====adress===== */

.location .geolocation {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.mail a,
.tel a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.link:hover,
.link:focus {
  color: var(--hover-color);
}

.adress .link {
  margin-bottom: 9px;
}

.tel .link {
  margin-bottom: 0px;
}

/* =====New code===== */

.footer .container {
  display: flex;
}

.footer .wrapper {
  margin-left: 70px;
  padding-top: 12px;
  padding-bottom: 40px;
}

.wrapper .title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .shell {
  display: flex;
}

.shell .social-networks {
  display: flex;
  justify-content: center;
}

.footer .networks-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .item-shell:not(:last-child) {
  margin-right: 10px;
}

.social-networks .networks-icon:hover,
.social-networks .networks-icon:focus {
  background-color: var(--hover-color);
  color: #fff;
  cursor: pointer;
}

.shell .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.shell .icon:hover {
  fill: currentColor;
}

/* ================== */

/* =====Portfolio.html styles===== */

/* =====button===== */

.buttons-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-filters .item:not(:last-child) {
  margin-right: 8px;
}

.buttons-filters .button {
  color: var(--secondari-text-color);
  background: #f5f4fa;
  font-family: inherit;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  outline: 0;

  cursor: pointer;
}

.buttons-filters .button:hover,
.buttons-filters .button:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ======cards===== */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards .item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.cards .cards-container {
  background-color: #ffffff;
}

.cards .item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.cards .title {
  color: var(--secondari-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.cards .text {
  color: var(--primeri-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.cards-container .photo {
  display: block;
}

.item .border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.cards .link:hover,
.cards .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
